# Scraping Data from Wiki

In [4]:
from bs4 import BeautifulSoup
import requests

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text,'html')

In [20]:
soup.find_all('table',class_='wikitable sortable')[1]
#pick table with index is 1, class is wikitable sortable

<table class="wikitable sortable">
<tbody><tr>
<th>Rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Revenue <br/>(USD billions)
</th>
<th>Employees
</th>
<th>Headquarters
</th></tr>
<tr>
<td>1
</td>
<td><a href="/wiki/Cargill" title="Cargill">Cargill</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">165
</td>
<td style="text-align:center;">155,000
</td>
<td><a href="/wiki/Minnetonka,_Minnesota" title="Minnetonka, Minnesota">Minnetonka, Minnesota</a>
</td></tr>
<tr>
<td>2
</td>
<td><a href="/wiki/Koch_Industries" title="Koch Industries">Koch Industries</a>
</td>
<td>Conglomerate
</td>
<td style="text-align:center;">125
</td>
<td style="text-align:center;">120,000
</td>
<td><a href="/wiki/Wichita,_Kansas" title="Wichita, Kansas">Wichita, Kansas</a>
</td></tr>
<tr>
<td>3
</td>
<td><a class="mw-redirect" href="/wiki/Publix_Super_Markets" title="Publix Super Markets">Publix Super Markets</a>
</td>
<td>Retail
</td>
<td style="text-align:center;">48
</td>
<td style="text-align:center;">230,000
</td>
<td><a href="/wiki/Winter_Haven,_Florida" title="Winter Haven, Florida">Winter Haven, Florida</a>
</td></tr>
<tr>
<td>4
</td>
<td><a class="mw-redirect" href="/wiki/Mars,_Incorporated" title="Mars, Incorporated">Mars, Incorporated</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">45
</td>
<td style="text-align:center;">140,000
</td>
<td><a href="/wiki/McLean,_Virginia" title="McLean, Virginia">McLean, Virginia</a>
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/Pilot_Corporation" title="Pilot Corporation">Pilot Corporation</a>
</td>
<td>Petroleum industry and Retail
</td>
<td style="text-align:center;">41.9
</td>
<td style="text-align:center;">30,000
</td>
<td><a href="/wiki/Knoxville,_Tennessee" title="Knoxville, Tennessee">Knoxville, Tennessee</a>
</td></tr>
<tr>
<td>6
</td>
<td><a href="/wiki/H-E-B" title="H-E-B">H-E-B</a>
</td>
<td>Retail
</td>
<td style="text-align:center;">38.9
</td>
<td style="text-align:center;">145,000
</td>
<td><a class="mw-redirect" href="/wiki/San_Antonio,_Texas" title="San Antonio, Texas">San Antonio, Texas</a>
</td></tr>
<tr>
<td>7
</td>
<td><a href="/wiki/Reyes_Holdings" title="Reyes Holdings">Reyes Holdings</a>
</td>
<td><a href="/wiki/Wholesaling" title="Wholesaling">Wholesaling</a>
</td>
<td style="text-align:center;">35.3
</td>
<td style="text-align:center;">33,000
</td>
<td><a href="/wiki/Rosemont,_Illinois" title="Rosemont, Illinois">Rosemont, Illinois</a>
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/C%26S_Wholesale_Grocers" title="C&amp;S Wholesale Grocers">C&amp;S Wholesale Grocers</a>
</td>
<td>Wholesaling
</td>
<td style="text-align:center;">33
</td>
<td style="text-align:center;">14,000
</td>
<td><a href="/wiki/Keene,_New_Hampshire" title="Keene, New Hampshire">Keene, New Hampshire</a>
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/Enterprise_Holdings" title="Enterprise Holdings">Enterprise Holdings</a>
</td>
<td><a href="/wiki/Car_rental" title="Car rental">Car rental</a>
</td>
<td style="text-align:center;">30
</td>
<td style="text-align:center;">80,000
</td>
<td><a href="/wiki/Clayton,_Missouri" title="Clayton, Missouri">Clayton, Missouri</a>
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Love%27s" title="Love's">Love's</a>
</td>
<td>Petroleum industry and Retail
</td>
<td style="text-align:center;">25.5
</td>
<td style="text-align:center;">38,000
</td>
<td><a class="mw-redirect" href="/wiki/Oklahoma_City,_Oklahoma" title="Oklahoma City, Oklahoma">Oklahoma City, Oklahoma</a>
</td></tr></tbody></table>

In [22]:
table = soup.find_all('table')[1]
# print(table)

In [40]:
world_titles = table.find_all('th')

In [42]:
world_table_titles = [title.text.strip() for title in world_titles]
# list titles of the table

In [44]:
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [46]:
import pandas as pd

In [48]:
df = pd.DataFrame(columns = world_table_titles)
# create a dataframe
# df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [56]:
row_count = table.find_all('tr')

In [60]:
for row in row_count[1:]: #skip the first empty row
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    # add each row
    
    length = len(df)
    df.loc[length] = individual_row_data # add each data cell for each row

In [62]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [66]:
df.to_csv(r'/data/company_list.csv', index = False)
# export the csv file into data folder

In [ ]:
### End of the Code